#signInPage {
  h2,
  form > *,
  footer > * {
    animation-name: reveal-element;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: backwards;
  }

  form > * {
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: #{0.025 * $i}s;
      }
    }
  }

  footer > * {
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: #{0.025 * (3 + $i)}s;
      }
    }
  }
}
