:root {
  --background: 254, 247, 244;
  --foreground: 0, 42, 50;
  --primary-color: 245, 165, 36;
  --danger-color: 200, 13, 39;
  --container-width: 90vw;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: "Stack Sans Text", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@stylex;
