:root {
  --background: 254, 247, 244;
  --foreground: 0, 42, 50;
  --primary-color: 245, 165, 36;
  --danger-color: 200, 13, 39;
  --container-width: 90vw;
}

* {
  box-sizing: border-box;
}

@stylex;
