:root {
  --background: 254, 247, 244;
  --foreground: 0, 42, 50;
  --primary-color: 245, 165, 36;
  --danger-color: 200, 13, 39;
  --container-width: 90vw;
}

* {
  box-sizing: border-box;
}

@keyframes reveal-element {
  0% {
    opacity: 0;
    transform: scale(0.7, 0.7) translateY(15px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@stylex;
